{% extends 'Core/base.html' %}
{% load static %}
{% load MensajesTags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'Clientes/css/ClientePadreForm.css' %}">

{% endblock %}
{% block content %}
<div class="container">
    <div class="login-card">
        <div class="card-header">
            <h2>Agrega al nuevo cliente</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }} 
                <button type="submit" class="btn">Guardar</button>
            </form>

            
        </div>
    </div>
</div>
    {% block ExtrasJS %}
        <script>
            var mensaje = "{{ mensaje }}";
        </script>
        <script src="{% static 'Core/js/sweetalert2.all.min.js' %}"></script>
        <script src="{% static 'Core/js/SweetAlert2.js' %}"></script>
    {% endblock ExtrasJS %}
{% endblock %}
