{% extends 'Core/base.html' %}

{% load static %}
{% load MensajesTags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'Core/css/inicio.css' %}">
{% endblock %} 

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="lp-welcome-section">
    <h1 class="lp-welcome-title">¡Hola {{ user.username }}!</h1>
    <p class="lp-welcome-subtitle">Bienvenido al panel de control. Aquí puedes gestionar... pendiente ¿?</p>
</div>

<div class="lp-dashboard-grid">
    <div class="lp-card">
        <h2 class="lp-card-title">target 1</h2>
        <div class="lp-card-content">
            Contenido 
        </div>
    </div>
    
    <div class="lp-card">
        <h2 class="lp-card-title">target 2</h2>
        <div class="lp-card-content">
            Contenido 
        </div>
    </div>
</div>

<div class="lp-stats-grid">
    <div class="lp-stat-card">
        <h3 class="lp-card-title">target 2</h3>
        <div class="lp-card-content">
            Contenido 
        </div>
    </div>
    
    <div class="lp-stat-card">
        <h3 class="lp-card-title">target 4</h3>
        <div class="lp-card-content">
            
        </div>
    </div>
    
    <div class="lp-stat-card">
        <h3 class="lp-card-title">target 5</h3>
        <div class="lp-card-content">
            Contenido 
        </div>
    </div>
    
    <div class="lp-stat-card">
        <h3 class="lp-card-title">target 6</h3>
        <div class="lp-card-content">
            Contenido 
        </div>
    </div>
</div>

<div class="lp-card">
    <h2 class="lp-card-title">target 7</h2>
    <div class="lp-card-content">
        Contenido
    </div>
</div>

{% RenderMensajesSweetAlert %}

{% block ExtrasJS %}
    <script>


        
        var mensaje = "{{ mensaje }}";
    </script>
    <script src="{% static 'Core/js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'Core/js/SweetAlert2.js' %}"></script>
{% endblock ExtrasJS %}
{% endblock %}